:root{
    --cor-de-fundo:#EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37% );
font-size: 30px;
--fonte-principal:"Poppins"
}
body{
background-color: #EBECEE;
font-family: var(--fonte-principal);
font-size: 1em;
font-weight: 500;
}
.menu_hamburguer{
width:24px;
height: 24px;
background-image: url(./img/Menu.svg);
background-repeat: no-repeat;
background-position: center;
display: inline-block;
}  
.cabeçalho{
    background-color: rgb(59, 157, 243);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container{
    display: flex;
    align-items: center;
}
.container_imagem {
padding: 10px;
margin: 20px;
width: 30px;
}
.container-botao:checked ~ .lista-menu{
display: block;
}
.lista-menu{
display:inline-block;
position: absolute;
top:100%;
width: 20vw;
}
.lista-menu-titulo,
.lista-menu-item{
padding: 1em;
background-color: var(--branco);
}

.lista-menu-titulo{
color: var(--laranja);
font-weight: 700;
}


.lista-menu-link{
background: var(--azul-degrade);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip:text;
text-transform: uppercase;
}
.container-botao{
    display:none;
    }
.lista-menu{
display:none;

}
.banner{
    background-color: #6b8cf8;
    color: #0055ff;
    text-align:center;
    font-size: 30px;
}
.banner-titulo{
    font-size: 30px;
    font-weight: 700px;
}
.banner-texto{
    font-weight: 500;
    font-size:40px;
    text-align:justify;
    text-align:center
}
 .banner-pesquisa{
background-color: transparent;
border: 1px solid var(--branco);
color: black;
border-radius: 24px;
padding: 1em;
width: 100%;
text-align: center;
background: url("./img/Pesquisa.svg") no-repeat;
background-position: 1em;
font-size: 20px;
 }

 .carrossel_titulo{
color: var(--laranja);
background-color: var(--branco);
text-align: center;
text-transform: uppercase;
font-size: 18px;
font-weight: 700;
padding: 1em 0 0.5em 0;
 }