:root{
    --cor-de-fundo:#EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37% );
font-size: 30px;
}
body{
background-color: #EBECEE;

}
.menu_hamburguer{
width:24px;
height: 24px;
background-image: url(./img/Menu.svg);
background-repeat: no-repeat;
background-position: center;
display: inline-block;
}  
.cabeçalho{
    background-color: rgb(186, 211, 233);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container{
    display: flex;
    align-items: center;
}
.container_imagem {
padding: 10px;
margin: 20px;
width: 30px;
}
.container_botao:checked ~ .lista-menu{
display: block;
}
.lista-menu{
display:inline-block;
position: absolute;
top:100%;
width: 20vw;
}
.lista-meu_titulo.

